@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

:root {

  --color-bg-light: #F8F8F8;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --container-with-lg: 75%;
  --container-with-md: 85%;
  --container-with-sm: 90%;

  --transition: all 0.4s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 16px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }


  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-black);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.7;
  background-image: url('../src/assets/bg-texture.png');
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}