.contact-container {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;

}

.contact-option {
    border-radius: 1.5rem;
    padding: 2rem;
    background: var(--color-bg-variant);
    margin-bottom: 1rem;
    transition: background 0.3s ease-in-out;
    border: 1px solid var(--color-bg-variant);
}

.contact-option:hover {
    background: var(--color-bg-variant-hover);
    border: 1px solid var(--color-primary);
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-container input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-primary);
    font-weight: 400;
}

.contact-container input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

.contact-container input::placeholder, textarea::placeholder {
    color: var(--color-primary-variant);
}

.contact-container button {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: .5rem;
    background: var(--color-primary);
    color: var(--color-bg);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* ---------- Media Queries (Medium Devices) ---------- */
@media screen and (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* ---------- Media Queries (Small Devices) ---------- */
@media screen and (max-width: 600px) {}